<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">
    <title>Document</title>
</head>
<body>
    <div class="flex align-center justify-center">
        <h1>8X4 Checker Board</h1>
    </div>

    {% for x in range(0, 2) %}
        <div class="flex align-center justify-center">
            {% for x in range(0, 4) %}
                <div class="flex align-center justify-center">
                    <div class="red-box"></div>
                    <div class="black-box"></div>
                </div>
            {% endfor %}
        </div>
        <div class="flex align-center justify-center">
            {% for x in range(0, 4) %}
                <div class="flex align-center justify-center">
                    <div class="black-box"></div>
                    <div class="red-box"></div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
</body>
</html>